.main__info {
  margin: 6rem auto;
  max-width: 102rem;
  width: 85%;
}

.main,
.main__info--subtitle {
  margin: 0;
}

.main__info--title {
  margin: 0 0 3rem;
}

.main__info--p {
  line-height: 2.5rem;;
  margin: 1rem auto;
  width: 90%;
}

.main__projects--title {
  list-style: none;
  margin-top: 1rem;
}

.main__projects--info {
  align-items: center;
  background-color: #8299b271;
  border-radius: 1rem;
  padding: 2rem;
}

.main__projects--list {
  margin: 0;
  padding: 0;
}

.main__projects--img {
  border-right: 1px dotted #8299b2;
  border-radius: 0;
  padding-right: 3rem;
  width: 50%;
}

.main__projects--item {
  text-align: center;
}

.main__projects--description {
  align-self: center;
  line-height: 2.5rem;
  margin: 3rem 1rem;
}

/* ------ Media Queries ------ */
@media (max-width: 899px) {

  .main__info {
    margin-bottom: 2rem;
  }

  .main__projects {
    margin-top: 0;
  }

  .main__projects--img {
    border-right: none;
    margin: 2rem auto;
    padding-right: 0;
    width: 80%;
  }
}

@media (max-width: 500px) {

  .main__info {
    width: 90%;
  }

  .main__projects {
    margin: 1rem auto;
    width: 90%;
  }

  .main__projects--list {
    padding: 1rem;
  }
  
  .main__projects--description {
    margin: 1.5rem;
  }
}